@import-normalize;
@import "./fonts.css";

html {
    min-height: 100dvh;
    height: 100dvh;

    scrollbar-gutter: stable;
}

body {
    min-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}
